<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc: Quản lý phương tiện -->
        <menuitem
            id="menu_root"
            name="Quản lý phương tiện"
            sequence="0"/>

        <!-- Menu Danh mục phương tiện -->
        <menuitem
            id="menu_quan_ly_phuong_tien"
            name="Danh mục phương tiện"
            parent="menu_root"
            sequence="1"/>

        <!-- Menu Phương Tiện -->
        <menuitem
            id="menu_phuong_tien"
            name="Phương Tiện"
            parent="menu_quan_ly_phuong_tien"
            sequence="2"
            action="action_phuong_tien"
        />

        <!-- Menu Tài Xế -->
        <menuitem
            id="menu_quan_ly_tai_xe"
            name="Tài Xế"
            parent="menu_quan_ly_phuong_tien"
            sequence="3"
            action="action_tai_xe"
        />

        <!-- Menu Bảo Trì Phương Tiện (Vẫn thuộc Quản lý phương tiện nhưng không phải danh mục) -->

         <menuitem
            id="menu_hanh_trinh_phuong_tien"
            name="Quản Lý Hành Trình"
            parent="menu_quan_ly_phuong_tien"
            sequence="4"
            action="action_hanh_trinh_phuong_tien"
        />
          <menuitem
            id="menu_quan_ly_nhien_lieu"
            name="Quản lý nhiên liệu"
            parent="menu_quan_ly_phuong_tien"
            sequence="5"
            action="action_nhien_lieu"
        />
        <menuitem
            id="menu_danh_muc_bao_tri"
            name="Danh mục bảo trì"
            parent="menu_root"
            sequence="2"
        />
        <menuitem
            id="menu_bao_tri_phuong_tien"
            name="Bảo trì phương tiện"
            parent="menu_danh_muc_bao_tri"
            sequence="2"
            action="action_bao_tri_phuong_tien"
        />
        <menuitem
            id="menu_linh_kien"
            name="Linh kiện"
            parent="menu_danh_muc_bao_tri"
            sequence="2"
            action="action_linh_kien_bao_tri"
        />
        <menuitem
            id="menu_lich_su_nguoi_lai"
            name="Lịch sử người lái"
            parent="menu_quan_ly_phuong_tien"
            sequence="6"
            action="action_lich_su_nguoi_lai"
        />
    </data>
</odoo>
